extends ../layouts/main-layout.pug 

block content 
    if items.length > 0
        div(class="container-fluid d-flex justify-content-center")
            div(class="w-50")
                table(class="table table-hover ")
                    thead(class="")
                        tr
                            th(class="") Title
                            th(class="") Price
                            th(class="") Quantity
                            th(class="") Total price
                            th(class="")
                    tbody 
                        each item in items
                            tr(class="")
                                th #{item.product.title}
                                td $#{item.product.price}
                                td #{item.quantity}
                                td $#{(item.quantity * item.product.price).toFixed(2)}
                                td 
                                    form(action="/cart-remove-item" method="POST", class="")
                                        input(type="hidden", name="id", value=item.product._id)
                                        input(type="hidden", name="_csrf", value=csrfToken)
                                        button(type="submit", class="btn btn-danger btn-sm") Remove 
                div(class="d-flex justify-content-center")
                    a(href="/checkout" class="btn btn-primary") Order now

    else 
        div(class="") There are no items yet