extends ../layouts/main-layout.pug

block content
    div(class="container")
        if products.length > 0 
            div(class="row row-cols-auto")
                each product in products
                    div(class="col")
                        div(class='card shadow-sm p-3 mb-5 bg-body-tertiary rounded', style="width: 18rem; height: 28rem;")
                            img(src='/' + product.imageUrl, alt="", class="img-thumbnail h-75") 
                            div(class="card-body")
                                h5(class="card-title") #{product.title}
                                h6(class="card-subtitle mb-2 text-body-secondary") $#{product.price}
                                p(class="card-text") #{product.description}
                            div(class="card-body d-flex justify-content-between")
                                a(href="/admin/edit-product/" + product._id + "?edit=true", class="btn btn-success") Edit
                                form(action="/admin/delete-product", method="post")
                                    input(type="hidden", name="_csrf", value=csrfToken)
                                    input(type="hidden", name="id", value=product._id) 
                                    button(type="submit", class="btn btn-danger") Delete
            include ../includes/pagination.pug                       
        else 
            div(class="") There are no products yet
