extends ../layouts/main-layout.pug 

block content
    div(class="d-flex justify-content-center")
        form(action="/new-password" method="POST")
            div(class="mb-2")
                label(for="password" class="form-label") New password
                input(type="password" name="password" id="password" value=oldInputs ? oldInputs.password : '' class=`form-control ${errors && errors.find(error => error.path === 'password') ? 'is-invalid' : ''}`)
                div(class="invalid-feedback") Password should be at least 8 characters long 
            div(class="")
                input(type="hidden" name="_csrf" value=csrfToken)
                input(type="hidden" name="userId" value=userId)
                input(type="hidden" name="resetToken" value=resetToken)
                button(type="submit" class="btn btn-primary") Submit  
            